{% extends "base.html" %}
{% block title %}Main Page{% endblock %}
{% block head %}
<script type='text/javascript' src='/exeapp/static/scripts/jquery.min.js'></script>
<script type='text/javascript' src='/exeapp/static/scripts/jquery.jsonrpc.js'></script>
<script type='text/javascript' src='/exeapp/static/scripts/main.js'></script>
{% endblock %}
{% block content %} 
<h1>Main Page</h1>
<ul id="package_list">
  {% for package in package_list %}
  <li class='package'><a href='package/{{ package.id }}/'>{{ package.title }}</a></li>
  {% endfor %}
</ul>
<div id='createPackage'>
    <p><input type='submit' id='create_package' value='Create' /></p>
</div>
{% endblock %}
