{% extends "base.html" %}
{% block title %}Main Page{% endblock %}
{% block head %}
<script type='text/javascript' src='/exeapp/static/scripts/jquery.min.js'></script>
<script type='text/javascript' src='/exeapp/static/scripts/jquery.jsonrpc.js'></script>
<script type='text/javascript' src='/exeapp/static/scripts/main.js'></script>
{% endblock %}
{% block content %} 
<p>Logged in as {{ user.username }}</p>
<h1>Main Page</h1>
<ul id="package_list">
  {% for package in package_list %}
  
    <li class='package' id="package{{ package.id }}">
      <input type="checkbox" class="package_checkbox" packageid="{{ package.id }}" />
      <a href='package/{{ package.id }}/'>{{ package.title }}</a>
    </li>
  {% endfor %}
</ul>
<div id='createPackage'>
    <p>
      <input type='submit' id='create_package' value='Create' />
      <input type='submit' id='delete_selected_packages' value='Delete Selected' />
    </p> 
</div>
<a href="/accounts/logout">Logout</a>
{% endblock %}
