{% load authoring_extras %}

{% load static %}

{% with data_package.current_node as current_node %}
{% if not partial %}
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/editing.css">
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/styles/base.css">
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/styles/{{data_package.style}}/content.css">
		
		<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.js"></script>
		<script type='text/javascript' src='{% get_static_prefix %}scripts/jquery.jsonrpc.js'></script>
		<script type="text/javascript" src="{% get_static_prefix %}scripts/jquery.form.js"></script>
		<script type="text/javascript" src="{% get_static_prefix %}scripts/common.js"></script> 
		{% render_form_media current_node %}
	</head>
	<body>
{% endif %}
			<div id="package_id" style="display: none">{{package.id}}</div>
			<div id="node_id" style="display: none">{{current_node.id}}</div>
				<p>Authoring for Package {{data_package.id}}</p>
				<p>Rendering node {{current_node.id}}</p>
				<h2>{{current_node.title}}</h2>
				{% for idevice in current_node.idevices.all %}
				  {% render_idevice idevice %}
				{% endfor %}
            </div>
	{% if not partial %}
	</body>
</html>
{% endif %}
{% endwith %}