{% for element in page_structure %}
  {% if element == "in" %}
    <li><ul>
  {% else %} 
    {% if element == "out" %}
    </ul></li>
    {% else %} 
      {% if element == current_page %}
        <li><div id="{% if element.node.children %}active{% else %}activeWithoutChild{% endif %}">{{element.node.title}}</div></li>
      {% else %}
        <li><div ><a class="{%if element.node.children %}withChild{% else %}withoutChild{% endif %}" href="{{element.name}}.html">{{element.node.title}}</a></div></li>
      {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}
