{% spaceless %}
{% load export_extras %}
{# navigation_links: "exe/export/navigation_links.html" #}
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      @import url(base.css);
      @import url(content.css);
      @import url(nav.css);</style>
    </style>
    <script type="text/javascript" src="common.js"></script>
    <title>{{current_page.node.title}}</title>
  </head>
  <body>
    <div id="content">
      <!-- TODO Background -->
      <div id="navcontainer">
        <ul id="navlist">
          {% include "exe/export/navigation_bar.html" %}
        </ul>
      </div>
      <div id="main">
        <div id="nodeDecoration">
          <p id="nodeTitle">{{current_page.node.title}}</p>
        </div>
        {% include navigation_links %}
        {% for idevice in current_page.node.idevices.all %}
          <div class="{{idevice.klass}}" id="id{{idevice.id}}">
            {{idevice|export_idevice}}
          </div>
        {% endfor %}
        {% include navigation_links %}
      </div>
    </div>
  </body>
    
  
  </head>
</html>
{% endspaceless %}
