{% spaceless %}
{% load export_extras %}

{% with NAVIGATION_LINKS="exe/export/navigation_links.html" %}
<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      @import url(base.css);
      @import url(content.css);
      @import url(nav.css);</style>
    </style>
    <script type="text/javascript" src="common.js"></script>
    <title>{{current_page.node.title}}</title>
  </head>
  <body>
    <div id="content">
      <!-- TODO Background -->
      <div id="navcontainer">
      	<ul id="navlist">
          {% navigation_bar current_page %}
      	</ul>
      </div>
      <div id="main">
        <div id="nodeDecoration">
          <p id="nodeTitle">{{current_page.node.title}}</p>
        </div>
        {% include NAVIGATION_LINKS %}
        {% include "exe/export/page_content.html" %}
        {% include NAVIGATION_LINKS %}
	    {% render_licence current_page %}
	    {% include "exe/export/footer.html" %}
      </div>
    </div>
  </body>
    
  
  </head>
</html>
{% endwith %}
{% endspaceless %}
